// index page
.edit-page {
  overflow-y: hidden;
  .graph {
    position: relative;
    width: 100%;
    height: calc(100vh - 64px);
  }

  .node-data {
    z-index: 2;
    background-color: $mainWhite;
    position: fixed;
    width: 800px;
    height: calc(100vh - 100px);
    right: 15px;
    top: 80px;

    .footer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .stats {
    position: fixed;
    bottom: 10px;
    right: 15px;
    p {
      margin: 0;
    }
  }
}

.messages-editor {
  margin-top: 60px;
}
