// index page
.edit-page {
  .graph {
    width: 100%;
    height: calc(100vh - 64px);

  }

  
  .stats {
    position: fixed;
    bottom: 10px;
    right: 15px;
    p {
      margin: 0;
    }
  }
}

.messages-editor {
  margin-top: 60px;
}