// index page
.edit-page {
  .graph {
    width: 100%;
    height: 600px;
    border: 1px solid #000;
  }

  .demo-control-panel {
    button {
      display: inline-block;
    }
    margin-bottom: 10px;
  }

  .control {
    .row {
      display: flex;
      margin-bottom: 12px;
      .el-input {
        margin-left: 12px;
        width: 200px;
      }
    }

    p {
      margin-bottom: 6px;
    }
  }

  .stats {
    p {
      margin: 0;
    }
  }
}
