/* ============ Element Plus ============ */
* {
  --el-color-white: #{$white} !important;
  --el-radio-button-checked-bg-color: #{$grey} !important;
  --el-radio-button-checked-text-color: #{$black} !important;
  --el-radio-button-checked-border-color: #{$grey} !important;
  --el-menu-hover-text-color: #{$black} !important;

  --el-dialog-title-font-size: 21px !important;
  --el-dialog-content-font-size: 15px !important;
  --el-dialog-content-font-size: 15px !important;

  --el-button-text-color: #{$black} !important;
  --el-button-hover-text-color: #{$black} !important;
}

.el-button--primary {
  --el-color-primary: #{$green-light} !important;
  --el-button-hover-border-color: #{$green-light} !important;
  --el-button-hover-bg-color: #{$green-light} !important;
}

.el-button--danger {
  --el-color-danger: #{$alertRed} !important;
  --el-button-hover-border-color: #{$alertRed} !important;
  --el-button-hover-bg-color: #{$alertRed} !important;
}

.el-button--info {
  --el-button-hover-bg-color: #{$grey-medium} !important;
  --el-button-hover-border-color: #{$grey-medium} !important;
  --el-button-hover-bg-color: #{$grey-medium} !important;
}

.el-radio-group {
  .el-radio-button {
    text-align: left;
    height: 23px !important;
    margin-right: $buttonMargin;

    .el-radio-button__inner {
      border-radius: 2px !important;
      font-size: 15px;
      padding: 4px 8px 4px 8px;
      margin: 0;
      color: #{$black};
      background-color: transparent;
      border: none;
      border-left: none !important;

      &:hover {
        color: #{$black};
        background-color: $grey;
      }
    }
  }
}

/* MODALS */
.el-overlay-dialog,
.el-overlay {
  .el-dialog {
    border: 2px solid black;
    width: calc(100% - 2 * $mobilePadding);
    max-width: 500px;
    border-radius: $borderRadius;
  }

  .el-dialog__header {
    margin: 0;
    padding: 30px 20px 15px 20px;
  }

  .el-dialog--center,
  .el-dialog__body {
    padding: 0px 20px 0px 20px;
    width: 100%;
    text-align: center;
    word-break: break-word;
  }

  .el-dialog__footer {
    margin-bottom: 15px;
    padding: 30px 20px 15px 20px;
  }

  label {
    font-size: 15px;
  }
}

/* SLIDER */

.el-slider {
  .el-slider__bar {
    background-color: $grey-dark;
  }

  .el-slider__button {
    border-color: $grey-dark;
  }
}

/* BUTTONS */
.el-button {
  &:hover {
    transform: scale($buttonScale);
  }
}

.el-button--info {
  background-color: $grey-medium;
  border: none;
}

/* OLD */

.messages-editor {
  margin-top: 60px;
}
