
button.unstyled {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  height: 23px;

  transition: background-color 250ms;

  &.lighter {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    background-color: $grey;
  }
}

button.underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
