/* ============ Interface ============ */
// spacing
$globalPadding: 10px;
$spacingXS: 0.25rem;
$spacingS: 0.5rem;
$spacingM: 1rem;
$spacingL: 2.5rem;
$spacingXL: 6rem;

// font sizes
$smallFontSizeMobile: 0.8rem;
$smallFontSize: 0.8rem;
$baseFontSizeMobile: 15px;
$baseFontSize: 15px;
$mediumFontSizeMobile: 1.5rem;
$mediumFontSize: 1.5rem;
$largeFontSizeMobile: 2rem;
$largeFontSize: 2rem;
$largerFontSizeMobile: 2.5rem;
$largerFontSize: 3.5rem;

// colors
$bodyBackground: white;
$mainWhite: white;
$mainBlack: black;
$hoverColor: lightgrey;
$green-light: #ADFF00;
$grey: #CDCDCD;
$grey-light: #F5F5F5;
$black: #000;

// transition
// $transitionDefault: 300ms ease;
// $transitionFast: 1750ms ease;
