// globals
@import 'reset';
@import 'variables.module';
@import 'mixins';
@import 'typography';
@import 'general';
@import 'elementplus';
@import 'interface'; // besides element plus

:root {
  --el-color-primary: #ADFF00;
  --el-color-white: #898989;

}
