// globals
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'general';
@import 'layout';
@import 'elementplus';

// pages
@import 'pages/all-pages';
@import 'pages/landing';
@import 'pages/graphs-overview';
@import 'pages/edit-page';

// components
@import 'components/elements';
@import 'components/menu';
