/* ============ Interface ============ */

// spacing
$globalPadding: 10px;
$spacingXS: 0.25rem;
$spacingS: 0.5rem;
$spacingM: 1rem;
$spacingL: 2.5rem;
$spacingXL: 6rem;

$mobilePadding: 12px;

// font sizes
$smallFontSizeMobile: 0.8rem;
$smallFontSize: 0.8rem;
$baseFontSizeMobile: 15px;
$baseFontSize: 15px;
$mediumFontSizeMobile: 1.5rem;
$mediumFontSize: 1.5rem;
$largeFontSizeMobile: 2rem;
$largeFontSize: 2rem;
$largerFontSizeMobile: 2.5rem;
$largerFontSize: 3.5rem;

// colors
$hover-color: #5200ff;
$green-light: #adff00;
$grey: #cdcdcd;
$grey-medium: #e4e4e4;
$grey-light: #f5f5f5;
$grey-dark: #898989;
$black: #000;
$alertRed: #ff0000;
$white: #ffffff;
$white08: rgba(255, 255, 255, 0.8);

// paddings
$paddingSidesDesktop: 15px;
$buttonMargin: 10px;

// other
$borderRadius: 4px;
$buttonScale: 1.1;

// menu
$menuHeight: 32px;

// node
$nodeDefaultWidth: 160px;

// old
$bodyBackground: white;
$mainWhite: white;
$mainBlack: black;
$hoverColor: lightgrey;

// transition
// $transitionDefault: 300ms ease;
// $transitionFast: 1750ms ease;
:export {
  greenLight: $green-light;
  grey: $grey;
  greyLight: $grey-light;
  greyMedium: $grey-medium;
  greyDark: $grey-dark;
  black: $black;
  alertRed: $alertRed;
  white: $white;
  white08: $white08;
  nodeDefaultWidth: $nodeDefaultWidth;
}
