@mixin onScreen($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == phone-and-tablet-landscape-only {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $size == macbook-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $size == landscape {
    @media (orientation: landscape) {
      @content;
    }
  } @else if $size == hover-device {
    @media (hover: hover) {
      &:hover {
        @content;
      }
    }
  }
}

@mixin fontWeight($wght) {
  @if $wght == normal {
    font-variation-settings: 'wght' 400, 'SPKE' 0;
  } @else if $wght == bold {
    font-variation-settings: 'wght' 600, 'SPKE' 1;
  }
}

@mixin fontSize($size) {
  @if $size == normal {
    font-size: $baseFontSizeMobile;
    @include onScreen('landscape') {
      font-size: $baseFontSize;
    }
  } @else if $size == small {
    font-size: $smallFontSizeMobile;
    @include onScreen('landscape') {
      font-size: $smallFontSize;
    }
  } @else if $size == large {
    font-size: $largeFontSizeMobile;
    @include onScreen('landscape') {
      font-size: $largeFontSize;
    }
  }
}
