@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@import 'variables.scss';
@import 'mixins.scss';
@import 'typography.scss';
@import 'elementplus.scss';




html,
body,
#app {
  margin:0px;
  height:100%;
}

body {
  background-color: $background-white;
  color: $black;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  float: left;
  width: 100%;
}
