@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@import 'variables.scss';
@import 'mixins.scss';
@import 'typography.scss';
@import 'elementplus.scss';




html,
body,
#app {
  margin:0px;
  height:100%;
}

body {
  background-color: $white;
  color: $black;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  float: left;
  width: 100%;
}

.fullscreen-wrapper {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  max-height: 100%;
  float: left;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
}

// general buttons
.text-btn {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


// transitions

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
