/* ============ Font ============ */

*::selection {
  background: $green-light;
}

html,
body,
button {
  font-display: swap;
  @include fontStyle('body');
  font-family: Arial, Helvetica, sans-serif !important;
}

strong,
b {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1 {
  @include fontStyle('headline');
  margin-bottom: $spacingS;

}

h2 {
  @include fontStyle('headline');
  margin-bottom: $spacingS;

  &.larger {
    @include fontStyle('headlineLarger');
  }
}

h3 {
  @include fontStyle('smallHeadline');
  margin-bottom: $spacingS;
}

a,
button,
a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;

  &.reverse-link {
    text-decoration: none;
  }
}

* {
  text-decoration-thickness: 0.05em !important;
  text-underline-offset: 0.1em !important;
}

// a[target='_blank'] {
//   &::after {
//     content: '↗';

//     margin-left: 1px;
//     text-decoration: none;
//     display: inline-block;
//   }
// }

a[target='_blank'].no-arrow {
  &::after {
    display: none;
  }
}

// hover states
@include onScreen('hover-device') {
  a.cta:hover {
    text-decoration: none;
  }

  a:hover,
  p a:hover {
    text-decoration: none;

    &.reverse-link {
      text-decoration: underline;
    }
  }
}

p {
  margin-bottom: 1em;
  line-height: 1.3;
}

ol,
ul {
  padding-left: 1.5em;

  p {
    margin: 0;
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: $lineThin solid $black;
  }

  td {
    padding: 0;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;

    // background-color: red;
  }
}

.no-underline {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}
