// spacing
$globalPadding: 10px;
$spacingXS: 0.25rem;
$spacingS: 0.5rem;
$spacingM: 1rem;
$spacingL: 2.5rem;
$spacingXL: 6rem;

// sizes
$desktopMaxWidth: 1280px;
$cardMaxWidth: 600px;

$mobilePadding: 12px;

// lines
$lineThin: 1px;
$lineStandard: 2px;
$lineThick: 4px;

// font sizes
$smallFontSizeMobile: 0.8rem;
$smallFontSize: 0.8rem;
$baseFontSizeMobile: 18px;
$baseFontSize: 18px;
$mediumFontSizeMobile: 24px;
$mediumFontSize: 24px;
$largeFontSizeMobile: 48px;
$largeFontSize: 48px;
$largerFontSizeMobile: 2.5rem;
$largerFontSize: 3.5rem;

// other
$borderRadius: 4px;
$buttonScale: 1.1;


// colors
$white: #FFFEF9;
$green-light: #ADFF00;
$grey-light: #F7F7F3;
$grey: #CDCDCD;
$black: #111111;
