version: '3.9'

volumes:
  static:
services:
  database:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env

  backend:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env
    volumes:
      - static:/home/gencaster/static:rw
    extra_hosts:
      - "host.docker.internal:host-gateway"

  osc_backend:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env
    ports:
      - 57130:57130/udp

  sound:
    network_mode: host
    env_file:
      - vars.env
      - vars.deploy.dev.env

  nginx:
    image: nginx:1.23-alpine
    volumes:
      - ./nginx.deploy.conf:/etc/nginx/conf.d/default.conf
      - static:/static/:ro
    ports:
      - 8081:80
    depends_on:
      - backend

  editor:
    build:
      context: caster-editor
      dockerfile: Dockerfile.deploy
      args:
        - BACKEND_GRAPHQL_URL=https://backend.dev.gencaster.org/graphql
    ports:
      - 3001:80
    environment:
      - NGINX_HOST=0.0.0.0
    depends_on:
      - backend
