version: '3.9'

volumes:
  static:
services:
  database:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env

  backend:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env
    volumes:
      - static:/home/gencaster/static:rw
      - ./data:/data
      - ./data:/home/gencaster/media
    extra_hosts:
      - "host.docker.internal:host-gateway"

  osc_backend:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env
    ports:
      - 7000:7000/udp

  sound:
    network_mode: host
    env_file:
      - vars.env
      - vars.deploy.dev.env
    volumes:
      - ./data:/data
      - ./caster-sound/janus.jcfg:/opt/janus/etc/janus/janus.jcfg
      # - ./caster-sound/janus.plugin.audiobridge.jcfg:/opt/janus/etc/janus/janus.plugin.audiobridge.jcfg

  nginx:
    image: nginx:1.23-alpine
    volumes:
      - ./nginx.deploy.conf:/etc/nginx/conf.d/default.conf
      - static:/static/:ro
    ports:
      - 8081:80
    depends_on:
      - backend

  editor:
    platform: linux/amd64
    build:
      context: caster-editor
      dockerfile: Dockerfile.deploy
      args:
        - BACKEND_GRAPHQL_URL=https://backend.dev.gencaster.org/graphql
    ports:
      - 3001:3001
    environment:
      - HOST=0.0.0.0
      - PORT=3001
      - BACKEND_GRAPHQL_URL="https://backend.dev.gencaster.org/graphql"
    depends_on:
      - backend

  frontend:
    platform: linux/amd64
    build:
      context: caster-front
      dockerfile: Dockerfile.deploy
      args:
        - BACKEND_GRAPHQL_URL=https://backend.dev.gencaster.org/graphql
    ports:
      - 3000:80
    environment:
      - NGINX_HOST=0.0.0.0
    depends_on:
      - backend
