version: '3.9'

services:
  database:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env

  backend:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env
    extra_hosts:
      - "host.docker.internal:host-gateway"

  osc_backend:
    env_file:
      - vars.env
      - vars.deploy.dev.env
      - .secrets.env
    ports:
      - 57130:57130/udp

  sound:
    build:
      args:
        - MAKE_JOBS=16
    network_mode: host
    env_file:
      - vars.env
      - vars.deploy.dev.env
