// index page
.edit-page {
  .graph {
    width: 100%;
    height: 600px;
    border: 1px solid #000;
  }

  .demo-control-panel {
    button {
      margin-right: 10px;
    }
    margin-bottom: 10px;
  }

  .constol-btns {
    margin-bottom: 24px;

    p {
      margin: 0;
    }
  }

  .stats {
    p {
      margin: 0;
    }
  }
}
