django==4.2.4
uvicorn[standard]==0.23.2
psycopg2-binary==2.9.9
python-osc==1.8.1
google-cloud-texttospeech==2.14.1
strawberry-graphql-django==0.17.2
strawberry-graphql[channels]<=0.208.2
django-cors-headers==4.0.0
mistletoe==1.2.1
pydantic==2.6.0
channels-redis==4.1.0
sentry-sdk==1.30.0
django-stubs-ext==4.2.2
requests==2.31.0
