// components

.fetching-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bodyBackground;
    padding: 10px 15px 10px 15px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    z-index: 99;
  }