// menu

.menu {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;


  .level {
    height: $menuHeight;
    background-color: $grey-light;
    border-bottom: 1px solid $black;
    padding-left: $paddingSidesDesktop;
    padding-right: $paddingSidesDesktop;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      transform: translateX(-8px);
      width: 33%;
    }

    .middle {
      width: 33%;
      display: flex;
      justify-content: center;
    }

    .right {
      transform: translateX(8px);
      width: 33%;
      display: flex;
      justify-content: flex-end;
    }

    .menu-items {
      height: 30px;
      display: flex;
      align-items: center;
      .state {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .state-indicator {
        width: 11px;
        height: 11px;
        border-radius: 11px;
        background-color: $alertRed;
        margin-right: 4px;

        &.saved {
          background-color: $green-light;
        }
      }
    }


    .margin-left {
      margin-left: $buttonMargin;
    }

    .margin-right {
      margin-right: $buttonMargin;
    }


  }

}

button.unstyled {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  height: 23px;

  transition: background-color 250ms;

  &.lighter {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    background-color: $grey;
  }
}

button.underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.menu-spacer {
  position: relative;
  height: 64px;
  background-color: white;
}
