// menu

.menu {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;


  .level {
    height: 32px;
    background-color: $grey-light;
    border-bottom: 1px solid $black;
    padding-left: $paddingSidesDesktop;
    padding-right: $paddingSidesDesktop;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      transform: translateX(-8px);
    }

    .menu-items {
      height: 30px;
      display: flex;
      align-items: center;
    }


    .margin-left {
      margin-left: $buttonMargin;
    }

    .margin-right {
      margin-right: $buttonMargin;
    }

    button.unstyled {
      background-color: transparent;
      border-radius: 0;
      border: 0;
      cursor: pointer;
      padding: 0;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 2px;
      height: 23px;

      transition: all 250ms;


      &:hover {
        background-color: $grey;
      }
    }

    button.underline {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

}

.menu-spacer {
  position: relative;
  height: 54px;
  background-color: red;
}