@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(~assets/fonts/Inter-Medium.woff2) format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url(~assets/fonts/Inter-MediumItalic.woff2) format('woff2');
  font-weight: 500;
}

//colors
$lightweight: #f8f8f8;
$black: #000000;
$green: #05ff00;

*,
body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 140%;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 600;
}
