name: ci

on:
  pull_request:
  push:
    branches: [main]

jobs:
  backend:
    name: "Check backend"
    runs-on: ubuntu-20.04
    steps:
      - run: sudo apt-get install --yes graphviz
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: "3.8"
          cache: "pip"
          cache-dependency-path: |
            caster-back/setup.cfg
            caster-back/requirements*.txt
            ./requirements-docs.txt
            ./requirements-dev.txt
      - run: pip3 install -r requirements-dev.txt
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --files caster-back/* --files *.* --files docs/* --files caster/sound*
      - run: ./caster-back/run_tests.sh
        name: "Run tests"
      - uses: 5monkeys/cobertura-action@master
        if: success() || failure()
        with:
          path: caster-back/coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 50
      - name: Backend Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test reporting
          path: caster-back/mypy-tests.xml,caster-back/tests.xml
          reporter: java-junit
      - run: make -C docs html
        name: "Build documentation"
      # - uses: actions/upload-artifact@v2
      #   if: success() || failure()
      #   with:
      #     name: docs
      #     path: |
      #       docs/_build/html

  editor:
    name: "Check Editor"
    runs-on: "ubuntu-20.04"
    container: cypress/browsers:node16.16.0-chrome107-ff107
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "npm"
          cache-dependency-path: |
            caster-editor/package-lock.json
      - run: npm ci
        working-directory: caster-editor
      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --files caster-editor/*
      - run: npm run type-check
        working-directory: caster-editor
        name: "Run type checks"
      - name: Cypress run
        uses: cypress-io/github-action@v5 # use the explicit version number
        with:
          browser: firefox
          build: npm run build
          start: npm run dev
          working-directory: caster-editor

  deploy-dev:
    if: success() && github.ref == 'refs/heads/main' # only deploy main
    needs: ["editor", "backend"]
    name: Deploy dev
    runs-on: ubuntu-20.04
    steps:
      - name: Deploy dev environment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd gencaster
            docker compose down
            git reset --hard
            git pull origin main
            make docker-deploy-dev
