name: deploy-via-ssh

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Deploy on machine
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd gencaster
          docker-compose down
          git reset --hard
          git pull origin main
          docker-compose build
          docker-compose -f docker-compose.yml -f docker-compose.deploy.yml up -d
