name: run-python-tests

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  run-tests:
    needs: ["pre-commit"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: '3.8'
      - run: ./caster-back/run_tests.sh
      - uses: actions/upload-artifact@v2
        if: success() || failure()
        with:
          name: test-results
          path: |
            caster-back/tests.xml
            caster-back/mypy-tests.xml
      - uses: 5monkeys/cobertura-action@master
        with:
          path: caster-back/coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 70
